.row-fluid
	span Guest Count: 
	span(data-bind="text: guestCount")
	table.table.table-striped.table-hover.table-condensed
		thead
			tr
				th Name
				th Has Guest?
				th RSVP?
				th Address
				th
		tbody(data-bind='foreach: guests')
			tr
				td: input(type="text",data-bind="value: name")
				td
					input(type="checkbox",data-bind="checked: hasGuest")
					input(type="text",data-bind="value: guestName, visible: hasGuest")
				td: input(type="checkbox",data-bind="checked: rsvp")
				td: textarea(data-bind="value: address")
				td: button(data-bind="click: $root.removeGuest").btn.btn-danger.btn-small: i.icon-remove.icon-white
	form(data-bind="submit: addGuest")
		p New Guest:
		input(type='text')#nameToAdd
		button(type="submit").btn.btn-primary Add
script(src='/javascripts/guestlist.js')